flows.json
[
    {
        "id": "95526930634809d4",
        "type": "tab",
        "label": "CAI-KIC-Bot-1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "181dbd850b4ded1f",
        "type": "tab",
        "label": "CAI-KIC-Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "962e20b1df6e5746",
        "type": "http in",
        "z": "95526930634809d4",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2c23e0809b452ba0",
                "15cfd5cf81f28fc8"
            ]
        ]
    },
    {
        "id": "82d3e942bd932084",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c23e0809b452ba0",
        "type": "init",
        "z": "95526930634809d4",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "90027d28a8d46334"
            ]
        ]
    },
    {
        "id": "e8b8fdb0618b64da",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "82d3e942bd932084"
            ]
        ]
    },
    {
        "id": "90027d28a8d46334",
        "type": "switch",
        "z": "95526930634809d4",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "4d9054034fca806c"
            ],
            [
                "cca3d3a3c91e823e"
            ]
        ]
    },
    {
        "id": "4d9054034fca806c",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=90e62510107eea200af79c404090be58&query={{slots.location}}",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a0bd70743cbf2cd8"
            ]
        ]
    },
    {
        "id": "a0bd70743cbf2cd8",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b29ff10cbad4bd42",
                "c418e9ce87f1dc8b"
            ]
        ]
    },
    {
        "id": "b29ff10cbad4bd42",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.current.weather_descriptions.0}} in {{payload.location.name}}, {{payload.location.country}} at the moment. The temperature is {{payload.current.temperature}} degrees, the humidity is {{payload.current.humidity}}% and the wind speed is {{payload.current.wind_speed}} mph.",
        "output": "str",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "9fcb8f604e090d2e"
            ]
        ]
    },
    {
        "id": "9fcb8f604e090d2e",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.current.weather_icons.0",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e8b8fdb0618b64da"
            ]
        ]
    },
    {
        "id": "cca3d3a3c91e823e",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "4b925eb7a40f358e"
            ]
        ]
    },
    {
        "id": "4b925eb7a40f358e",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "53620f556527195a"
            ]
        ]
    },
    {
        "id": "53620f556527195a",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "cb80cd1978e87141"
            ]
        ]
    },
    {
        "id": "cb80cd1978e87141",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "d72ae9297e66c4c6"
            ]
        ]
    },
    {
        "id": "d72ae9297e66c4c6",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "c418e9ce87f1dc8b",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "15cfd5cf81f28fc8",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "b20435bd9dae38ed",
        "type": "http in",
        "z": "181dbd850b4ded1f",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "7255c6df9198460e",
                "2f082555bd96afde"
            ]
        ]
    },
    {
        "id": "d215e1cd67ebeb25",
        "type": "http response",
        "z": "181dbd850b4ded1f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "7255c6df9198460e",
        "type": "init",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "099d5f4008173382",
                "5d10985f0a8baec1"
            ]
        ]
    },
    {
        "id": "d1144c7ffdf3c712",
        "type": "finish",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "d215e1cd67ebeb25"
            ]
        ]
    },
    {
        "id": "099d5f4008173382",
        "type": "switch",
        "z": "181dbd850b4ded1f",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "8ef763995db294e3"
            ],
            [
                "473d8e217236c713"
            ]
        ]
    },
    {
        "id": "8ef763995db294e3",
        "type": "template",
        "z": "181dbd850b4ded1f",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=ZYX&query={{slots.location}}",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "54e4a22d81779b03"
            ]
        ]
    },
    {
        "id": "54e4a22d81779b03",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "75f4db2fbeb04626"
            ]
        ]
    },
    {
        "id": "473d8e217236c713",
        "type": "template",
        "z": "181dbd850b4ded1f",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "0eb3faaa35ea2309"
            ]
        ]
    },
    {
        "id": "0eb3faaa35ea2309",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "05a6710e7d3264f8"
            ]
        ]
    },
    {
        "id": "05a6710e7d3264f8",
        "type": "sendextra",
        "z": "181dbd850b4ded1f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "11f211cf7cab5b96"
            ]
        ]
    },
    {
        "id": "11f211cf7cab5b96",
        "type": "finish",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "f89157c82975a16a"
            ]
        ]
    },
    {
        "id": "f89157c82975a16a",
        "type": "http response",
        "z": "181dbd850b4ded1f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d10985f0a8baec1",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "2f082555bd96afde",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "75f4db2fbeb04626",
        "type": "function",
        "z": "181dbd850b4ded1f",
        "name": "Prepare API Request",
        "func": "var data = JSON.stringify(msg.payload.current)\nvar location = \" location is: \" + msg.slots.location\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer XYZ\"\n};\n\nmsg.payload = {\n    model: \"gpt-4o\",\n    messages: [\n        { \"role\": \"system\", \"content\": \"You are a weather service. Generate a weather report based on the following data. Include the most relevant information. Make it one sentence long. Add a friendly remark. Answer in German.\" },\n        { \"role\": \"user\", \"content\": data + location}\n    ],\n    temperature: 1,\n    max_tokens: 2048,\n    top_p: 1,\n    frequency_penalty: 0,\n    presence_penalty: 0\n};\n\nmsg.url = \"https://api.openai.com/v1/chat/completions\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "331b0d4eb953874f"
            ]
        ]
    },
    {
        "id": "331b0d4eb953874f",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "Call OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "9cb80132c84af744",
                "4a9369056d2e5775"
            ]
        ]
    },
    {
        "id": "9cb80132c84af744",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "Show Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a9369056d2e5775",
        "type": "sendtext",
        "z": "181dbd850b4ded1f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.choices[0].message.content",
        "textType": "msg",
        "senderr": false,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "d1144c7ffdf3c712"
            ]
        ]
    }
]